::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}

.sidebar {
    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.4);
        border: none;
    }

    &::-webkit-scrollbar-track {
    background-color: transparent;
}
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    // background-color: #1e84e4;
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
    // background-color: #228cf0;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

// ::-webkit-scrollbar-track:hover {
//     background-color: #f8fafc;
// }